<%- include('../partials/homeHeader') %>

<!-- Categories with Dropdowns -->
<div class="container py-3">
  <div class="row text-center">
    <% categories.forEach(cat => { %>
      <div class="col dropdown">
        <a
          class="dropdown-toggle category-icon"
          href="#"
          id="dropdown<%= cat._id %>"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="/<%= cat.image %>"
            width="50"
            height="50"
            alt="<%= cat.name %>"
          /><br />
          <%= cat.name %>
        </a>

        <!-- Dropdown menu -->
        <ul class="dropdown-menu" aria-labelledby="dropdown<%= cat._id %>">
          <% 
            const relatedSub = subcategories.filter(sub => 
              sub.categoryId._id.toString() === cat._id.toString()
            ); 
          %>

          <% relatedSub.forEach(sub => { %>
            <li class="dropdown-submenu px-2 position-relative">
              <a class="dropdown-item dropdown-toggle" href="/allSubCat/<%= sub._id %>">
                <%= sub.subCatName %>
              </a>

              <!-- Nested Extra Categories -->
              <ul class="dropdown-menu">
                <% 
                  const relatedExtra = extracategories.filter(extra => {
                    const subIdMatch = extra.subCategoriesId?._id?.toString() || extra.subCategoriesId?.toString();
                    return subIdMatch === sub._id.toString();
                  });
                %>

                <% relatedExtra.forEach(extra => { %>
                  <li>
                    <a class="dropdown-item" href="/singalPage/<%= extra._id %>">
                      <%= extra.name %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            </li>
          <% }) %>
        </ul>
      </div>
    <% }) %>
  </div>
</div>

<!-- Banner Carousel -->
<div class="container-fluid px-0">
  <div id="flipkartCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-wrap="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#flipkartCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#flipkartCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#flipkartCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#flipkartCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/image/banner.jpeg" class="d-block w-100" alt="Slide 1" />
      </div>
      <div class="carousel-item">
        <img src="/image/banner1.jpeg" class="d-block w-100" alt="Slide 2" />
      </div>
      <div class="carousel-item">
        <img src="/image/banner2.jpeg" class="d-block w-100" alt="Slide 3" />
      </div>
      <div class="carousel-item">
        <img src="/image/banner3.jpg" class="d-block w-100" alt="Slide 4" />
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#flipkartCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#flipkartCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- Extra Categories Section -->
<div class="container py-5">
  <h3 class="mb-4">Explore Our Products</h3>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <% extracategories.forEach(extra => { %>
      <div class="col">
        <div class="card h-100 shadow-sm d-flex flex-column">
          <div style="height: 180px; overflow: hidden;">
            <img src="/<%= extra.image %>" class="card-img-top" alt="<%= extra.name %>" style="width: 50%; margin-left: 80px;" />
          </div>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><%= extra.name %></h5>
            <p class="card-text flex-grow-1">
              <% if (extra.description) { %>
                <%= extra.description.substring(0, 80) %>...
              <% } else { %>
                No description available.
              <% } %>
            </p>
            <a href="/singalPage/<%= extra._id %>" class="btn btn-primary mt-auto">View</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>

<%- include('../partials/homeFooter') %>
